@font-face {
  font-family: 'iconfont';
  /* project id 809156 */
  src: url('//at.alicdn.com/t/font_809156_vvba1rvpnta.eot');
  src: url('//at.alicdn.com/t/font_809156_vvba1rvpnta.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_809156_vvba1rvpnta.woff') format('woff'),
    url('//at.alicdn.com/t/font_809156_vvba1rvpnta.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_809156_vvba1rvpnta.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.26rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-circle:before {
  content: "\e60d";
}

.icon-wechat:before {
  content: "\e661";
}

.icon-camera:before {
  content: "\e634";
}

.icon-twitter:before {
  content: "\e72c";
}

.icon-facebook:before {
  content: "\e632";
}

.icon-weibo:before {
  content: "\e737";
}

.icon-address:before {
  content: "\e645";
}

.icon-arrow-right-square:before {
  content: "\e646";
}

.icon-buy:before {
  content: "\e647";
}

.icon-email:before {
  content: "\e648";
}

.icon-home:before {
  content: "\e649";
}

.icon-institution:before {
  content: "\e64a";
}

.icon-search:before {
  content: "\e64b";
}

.icon-service:before {
  content: "\e64c";
}

.icon-user:before {
  content: "\e64d";
}

.icon-products:before {
  content: "\e64e";
}

.icon-arrow-down:before {
  content: "\e64f";
}

.icon-close:before {
  content: "\e650";
}

.icon-arrow-up:before {
  content: "\e738";
}

.icon-list:before {
  content: "\e651";
}
