.classify-wrap {
  position: relative;

  .current-classify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.86rem;
    line-height: 0.86rem;
    padding: 0 0.45rem;
    font-size: 0.3rem;

    span {
      display: block;
    }

    .iconfont {
      display: block;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: 0.86rem;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;

    li {
      height: 0.86rem;
      line-height: 0.86rem;
      padding: 0 0.45rem;
    }
  }
}

.products-wrap {
  padding: 0.24rem 0.45rem;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 3.15rem;
      padding: 0.24rem 0 0.12rem;

      &:nth-child(2n) {
        margin-left: 0.3rem;
      }

      .product-info-link {
        display: block;

        img {
          width: 3.15rem;
          height: 3.15rem;
        }

        h3 {
          margin: 0.3rem auto 0.15rem;
          line-height: 0.36rem;
          font-size: 0.3rem;
          color: #383838;
        }

        div {
          height: 0.6rem;
          line-height: 0.3rem;
          font-size: 0.24rem;
          font-weight: 400;
          color: #666;
        }
      }

      .tmall-link {
        display: flex;
        align-items: center;
        margin-top: 0.12rem;
        padding: 0.02rem 0;
        color: #5e7358;

        .iconfont {
          display: block;
          margin-right: 0.1rem;
          font-size: 0.32rem;
        }

        span {
          display: block;
          font-size: 0.22rem;
        }
      }
    }
  }
}
